<!DOCTYPE html>
{% extends 'Index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Users Details</title>
</head>
<body>
<div class="card-body">
              <h5 class="card-title">Display Users</h5>
			  <div class="table-responsive">
               <table class="table">
                  <thead>
                    <tr>

                      <th scope="col">User Name</th>
                      <th scope="col">Password</th>
                      <th scope="col">Mobile</th>
                      <th scope="col">Mail</th>
                      <th scope="col">Address</th>
                      <th scope="col">Profile</th>
                    </tr>
                  </thead>
                   {% for i in data %}
                  <tbody>
                    <tr>
                      <td>{{i.Username}}</td>
                      <td>{{i.Password}}</td>
                      <td>{{i.Mobile_User}}</td>
                      <td>{{i.Mail}}</td>
                      <td>{{i.Address}}</td>
                      <td>
                          <img src="{{i.Profile_Pic.url}}" width="100px" height="100px">
                      </td>


                      <td>
                          <form action="{% url 'view_users' dataid=i.id %}">
                               <button class="btn btn-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0
   1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5
   0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
</svg>
               VIEW
              </button>
                          </form>
                      </td>



                    </tr>
                  </tbody>
                   {% endfor %}
                </table>
            </div>
            </div>
</body>
</html>
{% endblock %}